<div class="post media">
    <h6>
        <div class="alert alert-primary">
            <strong>{{ event.event_start_at|date:'m月 d日' }}</strong><p id="p_event_message"></p> <a href="#" class="alert-link">TODO:link the event details</a>.
<!--            <strong>{{ event.event_start_at|date:'m月 d日' }}</strong>{{event.message_html|safe}}<a href="#" class="alert-link">TODO:link the event details</a>.-->
        </div>
    </h6>
    <script>
        var loc_msn = "{{ event.message_html|safe }}";
        loc_msn = loc_msn.replace(/[\r\n]/gm, '');
        document.getElementById("p_event_message").innerHTML = loc_msn;
    </script>
</div>