<div class="post media">
    <h3>{{post.message_html|safe}}</h3>
    <div class="media-body">
        {% if post.image %}
            <a href="{{ post.image.url }}">
                <img src="{{ post.image.url }}" class="img-thumbnail" width="304" height="236">
            </a>
        {% endif %}
    </div>
    <div class="media-body">
<!--        <strong>{{post.user.username}}</strong>-->
        <h5 class="media-heading">
            <span class="username">
                <a href="{% url 'posts:for_user' username=post.user.username %}">@{{post.user.username}}</a>
            </span>
            <time class="time">
                <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
                    {{post.created_at}}
                </a>
            </time>
        </h5>

        <div class="media-footer">
            {% if user.is_authenticated and post.user == user %}
            <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple">
                <button type="button" id="delete_btn" class="btn btn-outline-danger">delete</button>
            </a>
            {% endif %}
        </div>
    </div>
</div>