{% extends "post_base.html" %}
{% block content %}
<h3>Are you sure you want to delete this post?</h3>
<div class="container pt-5">
    {% include "_post.html"%}
    <script>
        document.getElementById('delete_btn').outerHTML="";
        document.getElementById('update_btn').outerHTML="";
    </script>
</div>

<form method="post">
    {% csrf_token %}
    <input type="submit" value="Confirm Delete" class="btn btn-outline-danger">
    <a href="{% url 'posts:single' username=user.username pk=object.pk %}"
       class="btn btn-outline-secondary">Cancel</a>
</form>

{% endblock %}